{%extends 'base.html' %} {%block title %}front_end{% endblock%}
{%block content%}
{{ style_link(links='game.css') }}

<body>
  <section class="container">
    <h1 class="game-title">Front-End Application: Match Game</h1>
    <div class="card" data-framework="card4">
      <div class="card-back">
        <img class="back-face" src="static/img/q.png" alt="?">
      </div>
      <div class="card-front">
        <img class="front-face" src="static/img/card4.png" alt="Wings">
        <h1>Wings</h1>
      </div>
    </div>
    <div class="card" data-framework="card6">
      <div class="card-back">
        <img class="back-face" src="static/img/q.png" alt="?">
      </div>
      <div class="card-front">
        <img class="front-face" src="static/img/card6.png" alt="Egg">
        <h1>Egg</h1>
      </div>
    </div>
    <div class="card" data-framework="card7">
      <div class="card-back">
        <img class="back-face" src="static/img/q.png" alt="?">
      </div>
      <div class="card-front">
        <img class="front-face" src="static/img/card7.png" alt="Fish Filet">
        <h1>Fish Filet</h1>
      </div>
    </div>
    <div class="card" data-framework="card3">
      <div class="card-back">
        <img class="back-face" src="static/img/q.png" alt="?">
      </div>
      <div class="card-front">
        <img class="front-face" src="static/img/card3.png" alt="Shrimp">
        <h1>Shrimp</h1>
      </div>
    </div>
    <div class="card" data-framework="card2">
      <div class="card-back">
        <img class="back-face" src="static/img/q.png" alt="?">
      </div>
      <div class="card-front">
        <img class="front-face" src="static/img/card2.png" alt="Steak">
        <h1>Steak</h1>
      </div>
    </div>
    <div class="card" data-framework="card1">
      <div class="card-back">
        <img class="back-face" src="static/img/q.png" alt="?">
      </div>
      <div class="card-front">
        <img class="front-face" src="static/img/card1.png" alt="Dumpling">
        <h1>Dumpling</h1>
      </div>
    </div>
    <div class="card" data-framework="card3">
      <div class="card-back">
        <img class="back-face" src="static/img/q.png" alt="?">
      </div>
      <div class="card-front">
        <img class="front-face" src="static/img/card3.png" alt="Shrimp">
        <h1>Shrimp</h1>
      </div>
    </div>
    <div class="card" data-framework="card8">
      <div class="card-back">
        <img class="back-face" src="static/img/q.png" alt="?">
      </div>
      <div class="card-front">
        <img class="front-face" src="static/img/card8.png" alt="Noodle">
        <h1>Noodle</h1>
      </div>
    </div>
    <div class="card" data-framework="card7">
      <div class="card-back">
        <img class="back-face" src="static/img/q.png" alt="?">
      </div>
      <div class="card-front">
        <img class="front-face" src="static/img/card7.png" alt="Fish Filet">
        <h1>Fish Filet</h1>
      </div>
    </div>
    <div class="card" data-framework="card2">
      <div class="card-back">
        <img class="back-face" src="static/img/q.png" alt="?">
      </div>
      <div class="card-front">
        <img class="front-face" src="static/img/card2.png" alt="Steak">
        <h1>Steak</h1>
      </div>
    </div>
    <div class="card" data-framework="card8">
      <div class="card-back">
        <img class="back-face" src="static/img/q.png" alt="?">
      </div>
      <div class="card-front">
        <img class="front-face" src="static/img/card8.png" alt="Noodle">
        <h1>Noodle</h1>
      </div>
    </div>
    <div class="card" data-framework="card1">
      <div class="card-back">
        <img class="back-face" src="static/img/q.png" alt="?">
      </div>
      <div class="card-front">
        <img class="front-face" src="static/img/card1.png" alt="Dumpling">
        <h1>Dumpling</h1>
      </div>
    </div>
    <div class="card" data-framework="card5">
      <div class="card-back">
        <img class="back-face" src="static/img/q.png" alt="?">
      </div>
      <div class="card-front">
        <img class="front-face" src="static/img/card5.png" alt="Lamb">
        <h1>Lamb</h1>
      </div>
    </div>
    <div class="card" data-framework="card4">
      <div class="card-back">
        <img class="back-face" src="static/img/q.png" alt="?">
      </div>
      <div class="card-front">
        <img class="front-face" src="static/img/card4.png" alt="Wings">
        <h1>Wings</h1>
      </div>
    </div>
    <div class="card" data-framework="card5">
      <div class="card-back">
        <img class="back-face" src="static/img/q.png" alt="?">
      </div>
      <div class="card-front">
        <img class="front-face" src="static/img/card5.png" alt="Lamb">
        <h1>Lamb</h1>
      </div>
    </div>
    <div class="card" data-framework="card6">
      <div class="card-back">
        <img class="back-face" src="static/img/q.png" alt="?">
      </div>
      <div class="card-front">
        <img class="front-face" src="static/img/card6.png" alt="Egg">
        <h1>Egg</h1>
      </div>
    </div>
  </section>



  {% block javascript %}
  <script type="text/javascript"
    src="{{ url_for('static', filename='game.js') }}">
  </script>
  {% endblock %}
</body>
{%endblock%}